{% extends "base.html" %}

{% block title %}
    {{ super() }}
    - About
{% endblock %}

{% block content %}

    <h1>About</h1>

    <div class="container">
        <img class="float-left mr-3" style="width: 310px;height: 400px;" src="../static/maffu.jpg" alt="Yellow dog">

        <div class="container p-1 mx-1">
            <p>A simple desire to help pets without a home involved our hearts, so we thought, we can't help everyone,
                but we will help as much as we can.</p>

            <p>You can help in our mission, register in our application any pet that you see in your neighborhood.</p>

            <p>We are a non-profit organization, we just seek to make the world a better place by helping puppies.</p>
            <p>
                The fear of losing sight of our pets seems like a nightmare!
                With that in mind, we created <b>Find My Pet</b>.
                It brings together practicality and to help everybody find their lost pets.
            </p>
        </div>

    </div>

{% endblock %}
