{% extends "base.html" %}

{% block title %}
    {{ super() }}
    - Home
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Make the difference!</h1>
            <p>We usually assume that to make a difference it takes a lot of effort, however,
                a small attitude can make a difference in the world.
                You can help the world become better for everyone.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for("main.about") }}" role="button">Learn more &raquo;</a>
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Sausage dog found with bacon</h2>
                <p>A missing sausage dog has been reunited with his owners after they used bacon to help him find his
                    way back to them.

                    Miniature dachshund Floyd spent three days lost on a 350-acre farm in Middleton Tyas, North
                    Yorkshire. </p>
                <p><a class="btn btn-secondary"
                      href="https://www.bbc.com/news/uk-england-york-north-yorkshire-52653272?intlink_from_url=https://www.bbc.com/news/topics/c51grdzv08yt/pets&link_location=live-reporting-story"
                      target="_blank"
                      role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Pets ‘crucial’ to owners’ morale during lockdown</h2>
                <p>Britain’s pets have become crucial colleagues for their owners as they work from home by boosting
                    morale and motivation and reducing stress and anxiety, research has found. </p>
                <p><a class="btn btn-secondary"
                      href="https://www.independent.co.uk/life-style/fashion/news/pets-lockdown-morale-battersea-dogs-cats-home-charity-a9547076.html"
                      target="_blank" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>10 best dog toys to keep your pooch entertained</h2>
                <p>Dogs love toys every bit as much as children – and they can have the same educational value too if
                    you get them right, developing canines’ ability to bond, be social, solve problems and play to their
                    instinctive strengths, among other things..</p>
                <p><a class="btn btn-secondary"
                      href="https://www.independent.co.uk/extras/indybest/house-garden/pets/best-dog-toys-a9413131.html"
                      target="_blank" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->


{% endblock %}
