{% extends "base.html" %}

{% block title %}
    {{ super() }}
    - Pet Add
{% endblock %}

{% block content %}
    <form action="{{ url_for("pet.add") }}" method="POST">
        <div class="form-control">

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>

                    <div class="col-2">
                        <div class="form-group">
                            <label for="type_id">Type</label>
                            <select class="form-control" name="type_id" id="type_id">
                                {% for pet_type_dict in pet_type_list %}
                                    <option value="{{ pet_type_dict.id }}">{{ pet_type_dict.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <label for="color">Color</label>
                        <input type="text" class="form-control" name="color" id="color">
                    </div>

                    <div class="col-2">
                        <label for="weight">Weight</label>
                        <input type="number" class="form-control" name="weight" id="weight">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label for="breed">Breed</label>
                        <input type="text" class="form-control" name="breed" id="breed">
                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <label for="status_id">Status</label>
                            <select class="form-control" name="status_id" id="status_id">
                                {% for pet_status_dict in pet_status_list %}
                                    <option value="{{ pet_status_dict.id }}">{{ pet_status_dict.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg">
                        <label for="info">Extra Info</label>
                        <textarea name="info" id="info" cols="120" rows="5"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
