{% extends "base.html" %}

{% block title %}
    {{ super() }}
    - Pet Edit
{% endblock %}

{% block content %}
    <form action="{{ url_for("pet.pet_edit", pet_id=pet_dict.Pet.id) }}" method="POST">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" value="{{ pet_dict.Pet.name }}">

            <div class="form-group">
                <label for="type_id">Type</label>
                <select class="form-control" name="type_id" id="type_id">
                    {% for pet_type_dict in pet_type_list %}
                        <option value="{{ pet_type_dict.id }}"
                                {% if pet_type_dict.id == pet_dict.Pet.type_id %}
                                selected
                                {% endif %}>
                            {{ pet_type_dict.description }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <label for="color">Color</label>
            <input type="text" class="form-control" name="color" id="color" value="{{ pet_dict.Pet.color }}">

            <label for="weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="weight" value="{{ pet_dict.Pet.weight }}">

            <label for="breed">Breed</label>
            <input type="text" class="form-control" name="breed" id="breed" value="{{ pet_dict.Pet.breed }}">

            <div class="form-group">
                <label for="status_id">Status</label>
                <select class="form-control" name="status_id" id="status_id">
                    {% for pet_status_dict in pet_status_list %}
                        <option value="{{ pet_status_dict.id }}"
                                {% if pet_status_dict.id == pet_dict.Pet.status_id %}
                                selected
                                {% endif %}>
                            {{ pet_status_dict.description }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <label for="info">Extra Info</label>
            <textarea name="info" id="info" cols="120" rows="5">{{ pet_dict.Pet.info }}</textarea>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="submit" class="btn btn-danger" formaction="{{ url_for("pet.pet_delete", pet_id=pet_dict.Pet.id) }}">Delete</button>
            </div>

        </div>
    </form>
{% endblock %}
